@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth !important;
  }
}

/* Efek transisi antar halaman */
.page-transition {
  animation: slideIn 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}